
<div>
  <%= link_to quote.name, quote_path(quote) %>
  <%= quote.verification_badge %>

  <div>
    <%= link_to "Edit",
                edit_quote_path(quote),
                class: "" %>

    <%= button_to "Delete",
                  quote_path(quote),
                  method: :delete,
                  class: "" %>
  </div>
</div>