<main>
  <%= link_to sanitize("&#11104; Back to quote"), quote_path(@quote) %>

  <div>
    <h1>Edit quote</h1>
  </div>

  <%= turbo_frame_tag @quote do %>
    <%= render partial: "form", locals: { quote: @quote } %>
  <% end %>
</main>